<h1>{{title}}</h1>
<h3>Inventory Item</h3>
<hr />

<form [formGroup]="InventoryItemForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="Name">
    </div>
    <span class="text-danger" *ngIf="Name?.invalid && formDir.submitted">
      Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Gender">Description</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="Description">
    </div>
    <span class="text-danger" *ngIf="Description?.invalid && formDir.submitted">
      Description is required
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Department">Price</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="Price">
    </div>
    <span class="text-danger" *ngIf="Price?.invalid && formDir.submitted">
      Price is required
    </span>
  </div>
  <hr />
  <div class="form-group">
    <button type="submit" class=" btn btn-primary">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>

<h1>Inventory Item Data</h1>

<p *ngIf="!itemList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/register-item']">Create New</a>
</p>

<table class='table' *ngIf="itemList">
  <thead>
    <tr>
      <th>ItemId</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList">
      <td>{{ item.ItemId }}</td>
      <td><a (click)="getDetails(item.ItemId)">{{ item.Name }}</a></td>
      <td>{{ item.Description }}</td>
      <td>{{ item.Price }}</td>
      <td>
      <td>
        <a [routerLink]="" (click)="delete(item.ItemId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
